img{
            height: 150px;
            width: auto;
        }
        #left{

            margin-right: 3px;
        }
        #right{
    
            margin-left: 3px;
        }
        #content-wrapper{
            display: grid;
            grid-template-columns: 1fr 2fr;
        }
        button{
            margin:50px;
            padding: 50px;
        }
        #one-wrapper{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        p{
            font-family: "Bonheur Royale", cursive;
  font-weight: 400;
  font-style: normal;
        }

    #hidden{
        display:none;
    }